@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    width: 100%;
    text-align: center;
    transition: top 0.3s;
}

nav {
    position: absolute;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    height: 73px;
    padding-left: 19%;
    z-index: 10;
}


.nav-btn {
    background: none;
    border: none;
    color: rgb(43, 43, 43);
    font-weight: 601;
    font-size: 15.7px;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
}

.active-indicator {
    position: absolute;
    height: 3px;
    background-color: hsl(224, 89%, 60%);
    bottom: 13px;
    left: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
}

/* Sticky Header */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Section Styling */
.section {
    /* height: 85vh; */
    min-height: 85vh;
    display: flex;
    text-align: center;
    padding: 20px;
}


/*------------------------------- Home ---------------------------------*/
.section .home{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 15%;
}

.section .home h1{
    color: #0c162e;
	font-size: 3.4rem;
    text-align: justify;
    font-family: 'Poppins';
}

.section .home .name_color{
    color: hsl(224, 89%, 60%);
}

.section .home p{
    color: #5e5e5e;
	font-size: 20px;
    font-weight: 500;
    width: 43%;
    text-align: justify;
    line-height: 1.6;
}

.section .home button{
    background-color: hsl(224, 89%, 60%);
    color: #fff;
    font-size: 15px;
    padding: 13px 37px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.section .home button:hover{
    background-color: hsl(224, 89%, 62%);
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }



/*------------------------------- About ---------------------------------*/

.section .about{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 15%;
}

.section .about .about_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.section .about .about_top h1{
    color: hsl(224, 89%, 60%);
	font-size: 3rem;
    text-align: justify;
    font-family: 'Poppins';
}

.section .about p{
    color: #5e5e5e;
	font-size: 20px;
    font-weight: 500;
    width: 43%;
    text-align: justify;
    line-height: 1.6;
}

.section .about .about_sector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 150px;
}

.section .about .about_sector button{
    background-color: hsl(224, 89%, 60%);
    color: #fff;
    font-size: 15px;
    padding: 13px 54px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.section .about .about_sector button:hover{
    background-color: hsl(224, 89%, 62%);
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.section .about .about_sector a{
    color: #0c162e;
	font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Poppins';
}

.section .about .about_sector a:hover{
    color: #142242;
    text-decoration: underline;
}


/*------------------------------- Skills ---------------------------------*/

.section .skills{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 15%;
}

.section .skills .skills_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.section .skills .skills_top h1{
    color: hsl(224, 89%, 60%);
	font-size: 3rem;
    text-align: justify;
    font-family: 'Poppins';
}

.section .skills p{
    color: #5e5e5e;
	font-size: 20px;
    font-weight: 500;
    width: 43%;
    text-align: justify;
    line-height: 1.6;
}

.section .skills .skills_sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.section .skills .skills_sector .p_sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section .skills .skills_sector .p_sector p{
    color: hsl(224, 89%, 60%);
	font-size: 20px;
    font-weight: 500;
    width: 100%;
    line-height: 1.6;
}

.section .skills .skills_sector .p_sector .p_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.section .skills .skills_sector .p_sector .java_lang {
    --bg-color: #73a1fb;
    --bg-color-before: #d1e4fc; 
    --bg-color-light: #e4efff; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(115, 161, 251, 0.48); 
}

.section .skills .skills_sector .p_sector .python_lang {
    --bg-color: #fcdf5a;
    --bg-color-before: #fcecab; 
    --bg-color-light: #fef9d9; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(252, 223, 90, 0.48); 
}

.section .skills .skills_sector .p_sector .c_lang {
    --bg-color: #00589d; 
    --bg-color-before: #9bb8cd; 
    --bg-color-light: #a1c8e3; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(0, 88, 157, 0.48); 
}

.section .skills .skills_sector .p_sector .cpp_lang {
    --bg-color: #00589d; 
    --bg-color-before: #9bb8cd; 
    --bg-color-light: #a1c8e3; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(0, 88, 157, 0.48); 
}

.section .skills .skills_sector .p_sector .sql_lang {
    --bg-color: #0088DC; 
    --bg-color-before: #d0ecff; 
    --bg-color-light: #cce8fa; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(0, 136, 220, 0.48); 
}


.section .skills .skills_sector .p_sector .html_lang {
    --bg-color: #f57546; 
    --bg-color-before: #fbdace;
    --bg-color-light: #f1f7ff; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(255, 76, 12, 0.48); 
}

.section .skills .skills_sector .p_sector .css_lang {
    --bg-color: #2196F3; 
    --bg-color-before: #64B5F6;
    --bg-color-light: #D1EBFF; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(33, 150, 243, 0.48); 
}

.section .skills .skills_sector .p_sector .js_lang {
    --bg-color: #FFDF00; 
    --bg-color-before: #fff290; 
    --bg-color-light: #FFF9CC; 
    --text-color-hover: #fff; 
    --box-shadow-color: rgba(255, 223, 0, 0.48); 
}

.section .skills .skills_sector .p_sector .xml_lang {
    --bg-color: #ff8474;
    --bg-color-before: #F58A78;
    --bg-color-light: #FDD8D2;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(241, 86, 66, 0.48);
}

.section .skills .skills_sector .p_sector .php_lang {
    --bg-color: #777BB3;
    --bg-color-before: #b0b5ea;
    --bg-color-light: #c6cae8;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(119, 123, 179, 0.48);
}

.section .skills .skills_sector .p_sector .dart_lang {
    --bg-color: #85cbf8;
    --bg-color-before: #a6d7f9;
    --bg-color-light: #d3e8fd;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(133, 203, 248, 0.48);
}

.section .skills .skills_sector .p_sector .django {
    --bg-color: #30ac74;
    --bg-color-before: #abf4d3;
    --bg-color-light: #d3e8fd;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(133, 203, 248, 0.48);
}

.section .skills .skills_sector .p_sector .flask {
    --bg-color: #38a8be;
    --bg-color-before: #bde6f0;
    --bg-color-light: #a6d9e0;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(56, 168, 190, 0.48);
}

.section .skills .skills_sector .p_sector .flutter {
    --bg-color: #44d1fe;
    --bg-color-before: #beedfd;
    --bg-color-light: #aaf0ff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(68, 209, 254, 0.48);
}

.section .skills .skills_sector .p_sector .mysql {
    --bg-color: #0a93b7;
    --bg-color-before: #c9f4ff;
    --bg-color-light: #8ad8e3;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(10, 147, 183, 0.48);
}

.section .skills .skills_sector .p_sector .postgresql {
    --bg-color: #0277bd;
    --bg-color-before: #4392d6;
    --bg-color-light: #8abce0;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(2, 119, 189, 0.48);
}

.section .skills .skills_sector .p_sector .firebase {
    --bg-color: #ffc400;
    --bg-color-before: #ffda6d;
    --bg-color-light: #ffeb99;
    --text-color-hover: #000;
    --box-shadow-color: rgba(255, 196, 0, 0.48);
}

.section .skills .skills_sector .p_sector .android {
    --bg-color: #7cb342;
    --bg-color-before: #c3f788;
    --bg-color-light: #c6e1a1;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(124, 179, 66, 0.48);
}

.section .skills .skills_sector .p_sector .git {
    --bg-color: #f4511e;
    --bg-color-before: #fddbcd;
    --bg-color-light: #f9b3a2;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(244, 81, 30, 0.48);
}

.section .skills .skills_sector .p_sector .jwt {
    --bg-color: #546e7a;
    --bg-color-before: #b1c4ce;
    --bg-color-light: #aab7b8;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(84, 110, 122, 0.48);
}

.section .skills .skills_sector .p_sector .pandas {
    --bg-color: #1a237e;
    --bg-color-before: #bbc6fa;
    --bg-color-light: #8188c9;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(26, 35, 126, 0.48);
}

.section .skills .skills_sector .p_sector .numpy {
    --bg-color: #00acc1;
    --bg-color-before: #85e9f9;
    --bg-color-light: #80d7e3;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(0, 172, 193, 0.48);
}

.section .skills .skills_sector .p_sector .postman{
    --bg-color: #f86c34;
    --bg-color-before: #ffdbcb;
    --bg-color-light: #ffa371;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(248, 108, 52, 0.48);
}



.section .skills .skills_sector .p_sector .card {
    width: 220px;
    height: 321px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    cursor: default;
    border: 1px solid #747d80;
    border-radius: 12px;
}

.section .skills .skills_sector .p_sector .card p{
    align-self: center;
}

.section .skills .skills_sector .p_sector .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
    border: 1px solid #DCE9FF;
}

.section .skills .skills_sector .p_sector .card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.section .skills .skills_sector .p_sector .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.section .skills .skills_sector .p_sector .card:hover .circle:after {
    background: var(--bg-color-light);
}

.section .skills .skills_sector .p_sector .card:hover p {
    color: var(--text-color-hover);
}

.section .skills .skills_sector .p_sector .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.section .skills .skills_sector .p_sector .card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 2;
    transition: color 0.3s ease-out;
    text-align: center; 
}

.section .skills .skills_sector .p_sector .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.section .skills .skills_sector .p_sector .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color-before);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.section .skills .skills_sector .p_sector .circle img {
    z-index: 10000;
    transform: translateZ(0);
}

.section .skills .skills_sector .p_sector .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}



/*------------------------------- Projects ---------------------------------*/

.section .projects{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 15%;
}

.section .projects .projects_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.section .projects .projects_top h1{
    color: hsl(224, 89%, 60%);
	font-size: 3rem;
    text-align: justify;
    font-family: 'Poppins';
}

.section .projects p{
    color: #5e5e5e;
	font-size: 20px;
    font-weight: 500;
    width: 43%;
    text-align: justify;
    line-height: 1.6;
}

.section .projects .projects_sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .projects .projects_sector p{
    color: hsl(224, 89%, 60%);
	font-size: 20px;
    font-weight: 500;
    width: 100%;
    line-height: 1.6;
}

.section .projects .projects_sector .projects_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section .projects .projects_sector .projects_container .proj1 {
    --bg-color: #8189ed;
    --bg-button-color: #3f48cc;
}

.section .projects .projects_sector .projects_container .proj2 {
    --bg-color: #7bc64f;
    --bg-button-color: #3a850e;
}

.section .projects .projects_sector .projects_container .proj3 {
    --bg-color: #ef6478;
    --bg-button-color: #b1001c;
}

.section .projects .projects_sector .projects_container .proj4 {
    --bg-color: #4bc66e;
    --bg-button-color: #076020;
}

.section .projects .projects_sector .projects_container .proj5 {
    --bg-color: #ffd23e;
    --bg-button-color: #ffc401;
}

.section .projects .projects_sector .projects_container .card {
    position: relative;
    width: 500px;
    height: 210px;
    background-color: #fff;
    border: 1px solid #747d80;
    overflow: hidden;
    margin-bottom: 4px;
}
  
.section .projects .projects_sector .projects_container .card::before,
.section .projects .projects_sector .projects_container .card::after {
    content: "";
    z-index: 99;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #fff; 
}

.section .projects .projects_sector .projects_container .card::before {
    top: -10px;
    left: 32px;
}

.section .projects .projects_sector .projects_container .card::after {
    bottom: -10px;
    left: 32px;
}


.section .projects .projects_sector .projects_container .card .fa-arrow-right {
    z-index: 100;
    position: absolute;
    color: transparent;
    right: 25px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}

.section .projects .projects_sector .projects_container .card .proj_content{
    z-index: 100;
    width: 400px;
    height: 210px;
    background-color: var(--bg-color);;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.section .projects .projects_sector .projects_container .card .proj_content h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #0c162e;
    align-self: center;
    cursor: pointer;
}

.section .projects .projects_sector .projects_container .card .proj_content p {
    z-index: 99;
    max-width: fit-content;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 60px;
    padding-right: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.section .projects .projects_sector .projects_container .card ul {
    z-index: 99;
    position: absolute;
    top: -10px;
    list-style-type: none;
}

.section .projects .projects_sector .projects_container .card ul li {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    margin: 6px 0;
    background-color: #fff; 
}


.section .projects .projects_sector .projects_container .card:hover i {
    opacity: 1;
    transform: scale(1);
}

.section .projects .projects_sector .projects_container .card button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: var(--bg-button-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.7s ease;
    mix-blend-mode: hard-light;
    align-items: center;
}

.section .projects .projects_sector .projects_container .card button img {
    opacity: 1;
    transition: opacity 0s ease-in-out 0.55s;
}

.section .projects .projects_sector .projects_container .card:hover button img {
    opacity: 0;
    transition: opacity 0s ease-in-out 0s;
}


.section .projects .projects_sector .projects_container .card button i {
    font-size: 3rem;
}

.section .projects .projects_sector .projects_container .card:hover button {
    transform: scale(35); /*16.5*/
}
.section .projects .projects_sector .projects_container .card:hover .fa-arrow-right {
    color: #fff;
}

.section .projects .projects_sector .projects_container .card:hover p {
    color: #fff;
}

/*------------------------------- Contact ---------------------------------*/

.section .contacts{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15%;
}

.section .contacts .contacts_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.section .contacts .contacts_top h1{
    color: hsl(224, 89%, 60%);
	font-size: 3rem;
    text-align: justify;
    font-family: 'Poppins';
}

.section .contacts .contacts_container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}

.section .contacts .contacts_container .l{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.section .contacts .contacts_container .l p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.section .contacts .contacts_container .l p a{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.section .contacts .contacts_container .l p a:hover{
    color: hsl(224, 89%, 60%);
}

.section .contacts .contacts_container .bottom_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.section .contacts .contacts_container .bottom_content .list_social{
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
}

.section .contacts .contacts_container .bottom_content .list_social i{
    font-size: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #101010;
}

.section .contacts .contacts_container .bottom_content .list_social i:hover{
    color: hsl(224, 89%, 60%);
}

.section .contacts .contacts_container .bottom_content .dropping-texts {
    padding-left: 100px;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding-top: 20px;
}
  
.section .contacts .contacts_container .bottom_content .dropping-texts > div {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position:absolute;
    align-self: center;
    color: hsl(224, 89%, 60%);
    font-weight:600;   
    box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}
  
.section .contacts .contacts_container .bottom_content .dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
}
.section .contacts .contacts_container .bottom_content .dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
}
.section .contacts .contacts_container .bottom_content .dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
}
.section .contacts .contacts_container .bottom_content .dropping-texts > div:nth-child(4) {
    animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
}
3% {
    opacity:1;
    transform: rotate(0deg);
}
5% {
    font-size:20px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
}
20% {
    font-size:20px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
}
27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
}

}

@keyframes roll2 {
0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
}
3% {
    opacity:1;
    transform: rotate(0deg);
}
5% {
    font-size:20px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
}
30% {
    font-size:20px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
}
37% {
    font-size:30px;
    opacity:0;
}
100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
}
}
